@import "tailwindcss";

@theme{
  --color-bg-light: #FFFFFF;
  --color-bg-dark: #0F172A;
  --color-text-light: #0F172A;
  --color-text-dark: #F8FAFC;
  --color-text-secondary-light: #475569;
  --color-text-secondary-dark: #94A3B8;
}

@custom-variant dark (&:where(.dark, .dark *));

.ocultar-scroll {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.ocultar-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/*Estilos para los botones*/
.anchor{
    anchor-name: --buttom;
}
.anchor:hover + .target{
    opacity: 1;
    transition: all 0.3s ease-in-out;
}
.target{
    position: absolute;
    position-anchor: --buttom;
    position-area: end center;

    opacity: 0;
    width: 100px;
}

/*Estilos para el menu*/
.menu-btn{
    cursor: pointer;
}
.menu-div{
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}
.menu-btn.active div:nth-child(1){
    transform: rotate(45deg);
}
.menu-btn.active div:nth-child(2){
    visibility: hidden;
}
.menu-btn.active div:nth-child(3){
    transform: rotate(-45deg);
}
